nav.navbar.is-dark
    .container
        .navbar-brand
            a.title.is-white.navbar-item(href="/") SmartHome
        .navbar-menu
            .navbar-end
                .level
                    a.navbar-item.button.is-primary.navA(href="/") Devices
                    a.navbar-item.button.is-primary.navA(href="/subscriptions") Subscriptions
                    a.navbar-item.button.is-primary.navA(href="/rooms") Rooms
