extends layout

block header
    include includes/header
block content
    block devices
        include includes/devices
    .container
        hr
        hr
        hr
    block scenes
        include includes/scenes