doctype html
html
    head
        title= title
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css")
        link(rel="stylesheet", href="/css/style.css")
    body
        block header
        block content
